body{
  background-color:black;
}

#main{
  border: 10x solid white;
  height:400px;
  width: 600px;
  background-color: white;
  margin-left:400px;
  margin-top: 100px;
  padding: 20px;
}

.images{
  height:50px;
  width:200px;
  display: block;
  margin-left: 190px;
  margin-top:50px;

}